.example {
  background-color: #e8e8e8;
}

.notesDisplay {
  display: flex;
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 111px;
}

.cardDisplay {
  width: 220px;
  flex-flow: row wrap;
  flex-grow: 1;
  margin: 14px;
  position: relative;
}

.remindMat {
  width: 215px;
  margin-left: 308px;
  margin-top: -10px;
  height: 181px;
}

.example-sidenav-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.imageset {
  display: flex;
  opacity: 0.5;
}

.fundoo33 {
  margin-left: 0px;
  opacity: 0.5;
}

.pin {
  margin-left: 203px;
  opacity: 0.5;
  color: #4285f4;
  top: -28px;
}

.pin1 {
  opacity: 0.5;
  right: -209px;
  top: -28px;
}

.title-pin {
  display: inline-block;
  width: 236px;
  margin-left: -17px;
}

.notes {
  margin-left: 0px;
  opacity: 0.5;
}

.imageNote {
  max-width: 19px;
}

.fundoo-card {
  width: 481px;
  margin-top: 37px;
  margin-left: 298px;
  height: 0px;
}

.titleinput {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: large;
  margin-bottom: 16px;
}

.search1 {
  border: none;
  outline: none;
}

.noteinput {
  border: none;
  outline: none;
  width: 400px;
  font-size: initial;
}

.fundoo-card1 {
  width: 480px;
  margin-top: 37px;
  margin-left: 298px;
}

.fundoo-card-content {
  font-size: small;
  line-height: 2px;
}

.button-display {
  display: flex;
  margin-left: -15px;
  margin-right: 10px;
}

#searchid {
  margin-bottom: 17px;
}

.closebtn {
  margin-left: 96px;
}

.content {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.list {
  width: 263px;
  margin-left: -24px;
}

.list-button {
  width: 263px;
  display: flex;
}

.Morecard {
  width: 126px;
  margin-left: 442px;
  margin-top: -11px;
  height: 87px;
}

.colorPalette {
  border-radius: 100%;
  outline: none;
  border: none;
  width: 0px;
  height: 30px;
}

.colorDiv {
  margin-bottom: 5px;
  display: flex;
}

.colorCard {
  left: 331px;
  margin-top: -692px;
  width: 144px;
  padding: 3px;
}

.Inner-Remainder {
  top: -6px;
  width: 200px;
  right: -295px;
}

.remainder-Div {
  background-color: #e6e6e6;
  height: 20px;
  margin-top: -13px;
  width: 165px;
  display: flex;
}

.label-Div {
  background-color: #e6e6e6;
  height: 20px;
  margin-top: 3px;
  width: fit-content;
  display: flex;
}

.remainder-Div-image {
  width: 15px;
  margin-top: 5px;
  margin-left: 7px;
}

.remainderTime {
  font-size: 11px;
  margin-top: 6px;
}

.fileLoader {
  display: none;
}

.notesImage {
  margin-left: -24px;
  margin-top: -63px;
  width: 268px;
}

.collaborator {
  display: block;
  visibility: hidden;
  margin-left: 8px;
  margin-top: -8px;
}

  .collaborator:first-letter {
    visibility: visible;
  }

.signout {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin-top: -24px;
  margin-left: 6px;
}

.LabelDisplay {
  font-size: 13px;
  margin-top: 6px;
}
