<mat-toolbar color="primary">
  <span>Fundoo Notes</span>
</mat-toolbar><br><br><br><br>
<mat-card class="reset-card">
  <mat-card-title align="center">
    Reset Password
  </mat-card-title>
  <br>
  <br>

  <mat-card-content>
    <div class="reset-container">
      <mat-form-field>
        <input matInput placeholder="Email-id" required [formControl]="emailFormControl" [(ngModel)]="model.email">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email Id is required
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Email Id is invalid
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" required type="password" [formControl]="passFormControl" [(ngModel)]="model.pass">
        <mat-error *ngIf="passFormControl.hasError('required')">
          Password is required
        </mat-error>       
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" type="password" required [formControl]="cpassFormControl" [(ngModel)]="model.cpass">
        <mat-error *ngIf="cpassFormControl.hasError('required')">
          Confirm Password is required
        </mat-error>     
      </mat-form-field>
      <br>
      <br>

      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Update</button>
      <br><br>
    </div>
  </mat-card-content>
</mat-card>
